<app-header></app-header>
<app-hero-header-contact></app-hero-header-contact>
<div class="contact-container">
  <div class="contact-content">
    <h1 class="section-title">Contactez-nous</h1>
    <h2>Besoin d'aide ?</h2>
    <p>
      L'équipe dévouée de notre service client se tient à votre disposition.
      Pour recevoir de l'aide plus rapidement, veuillez parcourir notre FAQ afin
      de trouver les informations qu'il vous faut. Obtenez une réponse aux
      questions fréquemment posées en discutant avec notre assistant virtuel,
      disponible 24h/24, 7j/7. Pendant les heures d’ouverture, il pourra aussi
      vous rediriger vers un de nos agents si vous avez besoin d’aide
      supplémentaire.
    </p>
  </div>
</div>
