<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Streetwear Pur</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="hero-header">
      <div class="hero-content">
        <h1 class="title">
          STYLE STREETWEAR HOMME<span class="bounce">.</span>
        </h1>
        <span class="surtitle">
          Explore notre collection dédiée aux hommes : t-shirts oversize,
          sweats, pantalons cargo et accessoires. Un look
          <span class="italic_texte">urbain</span>,
          <span class="italic_texte">tendance</span> et
          <span class="italic_texte">authentique</span>, pensé pour affirmer ta
          personnalité.<br />
        </span>
        <button class="cta-button">
          <a href="/boutique/homme">Découvrir</a>
        </button>
      </div>
    </div>
  </body>
</html>
